.Cash {
  background-color: #F1F1F1;
  color: #161616;
  border: 5px solid #161616;
  transform: rotate(-3.34deg);
  padding: 7px 16px;
  width: 261px;
  margin: -30px 0 0 -40px;

  h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    font-size: 13px;
  }
}
