.Dillers {
  z-index: 2;
  position: absolute;
  left: 307px;
  top: 68px;
  display: flex;
  align-items: flex-end;
  margin: -17px 0 13px -30px;

  .dil-pic {
    width: 111px;
    height: 125px;
    background-image: url('../../assets/Diller.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  p {
    font-family: 'SprimoskFont';
    font-size: 46px;
    color: #161616;
    text-shadow: 2px 0 0 #f1f1f1, -2px 0 0 #f1f1f1, 0 2px 0 #f1f1f1,
      0 -2px 0 #f1f1f1, 1px 1px #f1f1f1, -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1,
      -1px 1px 0 #f1f1f1;
    transform: rotate(-5.54deg);
    margin: 0 0 40px -22px;
  }
}
