.Picture_wrap {
  .Picture {
    position: relative;
    cursor: pointer;
    width: 68px;
    height: 86px;
    border: 4px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.style_0 {
      background-image: url('../../assets/pictures/111.jpg');
    }
    &.style_1 {
      background-image: url('../../assets/pictures/222.png');
    }
    &.stat_10 {
      border: 4px solid black;
    }
  }
  &:hover {
    .AltPictureBlock {
      display: block;
    }
  }

  .but {
    margin-top: 5px;
    padding: 2px;
    background-color: white;
    color: black;
    font-size: 11px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
.Picture_wrap + .Picture_wrap {
  margin-left: 8px;
}

// div {
//   width: 100%;
//   height: 100%;
//   background-color: black;
// }
