.Student {
  position: absolute;
  width: 49px;
  height: 83px;
  background-image: url("../../assets/student.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
