.Wallet {
  position: absolute;
  left: 165px;
  top: 9px;
  a {
    cursor: default;
  }
  .HSE {
    width: 114px;
    height: 99px;

    background-image: url('../../assets/HSE.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(4.92deg);
    margin: 0 0 0 -10px;
  }
}
