.Shop {
  .picturesCollection {
    padding: 40px 0 40px 40px;
    display: flex;
    align-items: center;
    .picture {
      &.inactive .content {
        background-color: $medium-gray;
      }
      &.soldOut {
        .img {
          filter: grayscale(100%);
          .back {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }
      }
    }
    .null {
      min-width: 90px;
      height: 20px;
    }
  }
}
