.StudioShop {
  margin: 10px 10px 10px 0;
  .UnitShop {
    position: sticky;
    top: 60px;
  }

  .UpgradesCollection {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 255px;
    // justify-content: space-between;
    width: 320px;

    .upgrade {
      position: relative;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      justify-content: center;
      background-color: $ligth-gray;
      border: 2px solid $ligth-gray;
      margin-left: 15px;
      .img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../assets/icon.png');
        &.id_0 {
          background-image: url('../../assets/upg/factor_0.png');
        }
        &.id_1 {
          background-image: url('../../assets/upg/luck_0.png');
        }
        &.id_2 {
          background-image: url('../../assets/upg/students_0.png');
        }
        &.id_3 {
          background-image: url('../../assets/upg/dealer_0.png');
        }
        &.id_4 {
          background-image: url('../../assets/upg/offline_0.png');
        }
        &.id_5 {
          background-image: url('../../assets/upg/gallery_0.png');
        }
      }

      &.inactive {
        .img {
          opacity: 0.5;
        }
      }

      &:nth-child(5n) {
        .AltShopBlock {
          left: -673px;
        }
      }
      &:nth-child(5n + 1),
      &:nth-child(1) {
        margin-left: 0;
        .AltShopBlock {
          left: -405px;
        }
      }
      &:nth-child(5n + 2) {
        .AltShopBlock {
          left: -472px;
        }
      }
      &:nth-child(5n + 3) {
        .AltShopBlock {
          left: -539px;
        }
      }
      &:nth-child(5n + 4),
      &:nth-child(4) {
        .AltShopBlock {
          left: -606px;
        }
      }
      &:hover .AltShopBlock {
        display: block;
      }
    }
  }
}
