.AltShopBlock {
  display: none;
  position: absolute;
  left: -405px;
  top: -2px;
  width: 395px;
  padding: 20px 20px;
  border: 2px solid $ligth-gray;
  background: $black;
  // background: $radial-gradient-black

  color: $white;

  .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .line {
    margin: 13px 0;
    height: 2px;
    width: 100%;
    background: $radial-gradient-ligth;
  }
  .altContent {
    p {
      font-weight: 300;
      width: 100%;
      font-size: 14px;
    }
  }
}

.AltPictureBlock {
  z-index: 200;
  display: none;
  position: absolute;
  top: -180px;
  left: -5px;
  // top: -5px;
  // right: -407px;
  .wrapper {
    width: 395px;
    padding: 20px 20px;
    border: 2px solid $ligth-gray;
    background: $black;

    color: $white;

    .title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
      span {
        font-size: 14px;
      }
      h4 {
        font-size: 14px;
        font-weight: 300;
      }
    }

    h3 {
      font-size: 16px;
    }

    .line {
      margin: 13px 0;
      height: 2px;
      width: 100%;
      background: $radial-gradient-ligth;
    }
    .altContent {
      p {
        font-weight: 300;
        width: 100%;
        font-size: 12px;

        & + p {
          margin-top: 5px;
        }
      }
    }
  }
}
