.Block {
  position: relative;

  .PicturesCollection {
    overflow-x: auto;
    // overflow-y: hidden;
    width: 640px;
    margin-bottom: 42px;
    border: 2px solid $ligth-gray;
    background-image: url('../../assets/background.png');
    background-position: center;
    background-size: cover;
    padding: 20px 25px;
    min-height: 130px;
    display: flex;
    align-items: center;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    .pictures {
      margin-right: 20px;
      // height: 170px;
      width: 100%;
      display: flex;
    }
  }

  h1 {
    font-family: 'RoadRage';
    top: -20px;
    left: -10px;
    position: absolute;
    font-size: 24px;
    transform: rotate(-3.54deg);
    text-shadow: $text-shadow;
  }
}
