.GalleriesCollection {
  // width: 845px;
  border: 2px solid #292929;
  // padding: 20px 0 20px 25px;
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 170px;

  h1 {
    font-family: 'RoadRage';
    top: -20px;
    position: absolute;
    font-size: 24px;
    transform: rotate(-3.54deg);
    color: #fe008b;
    text-shadow: 3px 0 0 #f1f1f1, -3px 0 0 #f1f1f1, 0 3px 0 #f1f1f1,
      0 -3px 0 #f1f1f1, 1px 1px #f1f1f1, -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1,
      -1px 1px 0 #f1f1f1;
  }

  &.true {
    background-image: url('../../assets/background.png');
  }

  &.false {
    background-color: #1d1d1d;

    h1 {
      color: #c6c6c6;
    }
  }

  .Gallery {
    display: flex;
    margin: 20px 0 20px 25px;
    // width: 778px;
  }
}
