.GalleriesCollection {
  // width: 845px;
  border: 2px solid $ligth-gray;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
  background-position: center;
  background-size: cover;

  h1 {
    font-family: 'RoadRage';
    top: -20px;
    position: absolute;
    font-size: 24px;
    transform: rotate(-3.54deg);
    text-shadow: $text-shadow;
  }

  &.false {
    display: none;
  }

  .GalleryBlock {
    background-image: url('../../assets/background.png');
    background-size: cover;
    .PicturesCollection {
      display: flex;
      margin: 20px 0 20px 15px;
      border: 2px solid $gray;
      min-height: 90px;
      align-items: center;
      position: relative;

      .but {
        position: static;
        padding: 0;
      }
    }
    // width: 778px;
    .but {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      background-color: $medium-gray;
    }
  }
}
