.Header {
  width: 593px;
  height: 216px;
  margin-bottom: 72px;

  background-image: url("../../assets/headerWall.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;

  padding: 39px 0 0 67px;

  .logo {
    z-index: 1;
    width: 114px;
    height: 99px;

    background-image: url("../../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-12.15deg);
  }
}
