.UnitBlock {
  display: inline-block;
  background-color: #161616;
  border: 2px solid #292929;
  padding: 10px 20px 10px 10px;
  width: 164px;
  &:hover {
    color: black;
    background-color: white;
  }
}
