.UnitBlock {
  display: flex;
  background-color: $black;
  border: 2px solid $ligth-gray;
  width: 320px;
  position: relative;

  .im {
    width: 116px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 10px 20px 10px;
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    span {
      font-size: 14px;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      font-weight: 200;

      &:first-of-type {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-top: 5px;
      }
    }
  }

  &:hover {
    color: $black;
    background-color: $white;
    .AltShopBlock {
      display: block;
    }
  }

  &.true {
    &:nth-child(1) {
      .im {
        background-image: url('../../assets/upg/student.png');
      }
    }
    &:nth-child(2) {
      .im {
        background-image: url('../../assets/upg/dealer.png');
      }
    }
  }
  &.false {
    &:nth-child(1) {
      .im {
        background-image: url('../../assets/upg/student_inactive.png');
      }
    }
    &:nth-child(2) {
      .im {
        background-image: url('../../assets/upg/dealer_inactive.png');
      }
    }
  }
  &.inactive {
    .im,
    .content {
      opacity: 0.4;
    }
  }

  & + .UnitBlock {
    margin-top: 4px;
  }
}
