:root {
  --black: #161616;
  --darck: #1f1f1f;
  --darck-gray: #292929;
  --medium-gray: #5f5f5f;
  --gray: #c6c6c6;
  --white: #f1f1f1;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  width: 100%;
  background: var(--black);
  color: var(--white);
}

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.Game {
  display: flex;
}
