@import './colors.scss';

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  background: $black;
  color: $white;
}

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-image: url('../assets/background.png');
  background-position: left;
  // background-repeat: no-repeat;
  background-size: contain;
}

.Game {
  display: flex;
  &.yellow {
    .Content .GameHeader .back span:hover path,
    .Header .logo path.cls-1 {
      fill: $yellow;
    }
    .AltPictureBlock .wrapper .title span,
    h1,
    .UnitBlock .content span {
      color: $yellow;
    }
  }
  &.ping {
    .Content .GameHeader .back span:hover path,
    .Header .logo path.cls-1 {
      fill: $ping;
    }
    .AltPictureBlock .wrapper .title span,
    h1,
    .UnitBlock .content span {
      color: $ping;
    }
  }
  &.blue {
    .Content .GameHeader .back span:hover path,
    .Header .logo path.cls-1 {
      fill: $blue;
    }
    .AltPictureBlock .wrapper .title span,
    h1,
    .UnitBlock .content span {
      color: $blue;
    }
  }
  &.green {
    .Content .GameHeader .back span:hover path,
    .Header .logo path.cls-1 {
      fill: $green;
    }
    .AltPictureBlock .wrapper .title span,
    h1,
    .UnitBlock .content span {
      color: $green;
    }
  }
}
