@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: 'RoadRage';
  src: url('../assets/fonts/RoadRage.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SprimoskFont';
  src: url('../assets/fonts/SprimoskFont.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roadkill';
  src: url('../assets/fonts/Roadkill.otf');
  font-weight: 600;
  font-style: normal;
}
