@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'RoadRage';
  src: url('../../assets/fonts/RoadRage.ttf');
  font-weight: 600;
  font-style: normal;
}
