@import 'stylesheets/reset.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/fonts.scss';

@import 'stylesheets/2_Organisms/Clicker.scss';
@import 'stylesheets/2_Organisms/Body.scss';
@import 'stylesheets/2_Organisms/Studio.scss';
@import 'stylesheets/2_Organisms/StudioShop.scss';
@import 'stylesheets/1_Molecules/Header.scss';
@import 'stylesheets/1_Molecules/Canvas.scss';
@import 'stylesheets/1_Molecules/Block.scss';
@import 'stylesheets/1_Molecules/StudioShopBlock.scss';
@import 'stylesheets/1_Molecules/UnitBlock.scss';
@import 'stylesheets/1_Molecules/GalleriesCollection.scss';
@import 'stylesheets/1_Molecules/AltBlocks.scss';
@import 'stylesheets/0_Atoms/Wallet.scss';
@import 'stylesheets/0_Atoms/Cash.scss';
@import 'stylesheets/0_Atoms/Dillers.scss';
@import 'stylesheets/0_Atoms/Student.scss';
@import 'stylesheets/0_Atoms/Picture.scss';
